<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="/stylesheets/service.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<nav class="navbar noshadow navbar-expand-lg">
  <a class="navbar-brand mr-0" href="http://localhost:{{port}}/" >
      
    <img src="svg/logo.svg" height="60" alt="logo" class=" mr-0  ">
  </a>
  <a class="navbar-brand mt-2" href="http://localhost:{{port}}/">
    <object data="svg/name.svg" type="image/svg+xml" height="50" alt="logo" class=" l2  d-sm-none d-lg-inline-block d-none ml-5 d-md-inline-block"></object>
    <object data="svg/name.svg" type="image/svg+xml" height="20" alt="logo" class=" d-inline-block d-lg-none d-md-none "></object>
  </a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto  ">
      <li class="nav-item  ml-2 mr-2 ">
        <a class="nav-link scheme-text " href="http://localhost:{{port}}/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<div class="services-section">
  <div class="inner-width">
    <h1 class="section-title">Select the role you want to provide</h1>
    <div class="border"></div>
    <div class="services-container">

      <div class="service-box">
        <a href = 'http://localhost:{{port}}/details'>
        <div class="service-icon">
          <i class="fas fa-wrench"></i>
        </div>
        </a>
        <div class="service-title">Plumber</div>
      </div>

      <div class="service-box">
        <a href = 'http://localhost:{{port}}/details'>
        <div class="service-icon">
          <i class="fas fa-lightbulb-o"></i>
        </div>
        </a>
        <div class="service-title">Electrician</div>
      </div>

      <div class="service-box">
        <a href = 'http://localhost:{{port}}/details'>
        <div class="service-icon">
          <i class="fas fa-hand-grab-o"></i>
        </div>
        </a>
        <div class="service-title">Maid</div>
      </div>

      <div class="service-box">
        <a href = 'http://localhost:{{port}}/details'>
        <div class="service-icon">
          <i class="fas fa-automobile"></i>
        </div>
        </a>
        <div class="service-title">Delivery</div>
      </div>  
    </div>
  </div>
</div>
