<link rel="stylesheet" href="/stylesheets/Main.css" />
<link rel="stylesheet" href="/stylesheets/services_user.css" />
<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/b773794512.js" crossorigin="anonymous"></script>

<style>
  input{
    padding: 0.4rem;
    background: rgba(255,255,255,0.2);
    border:none;
  }
  form{
    align-content: center;
    text-align: center;
    padding: 1rem;
    margin: 5rem;
  }
  hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
</style>

<!-- Nav  Bar Start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="brand">
    <a href="#" class="navbar-left">
      <object type="image/svg+xml" data="/svg/logo.svg"   class="logo-image"></object>
    </a>
    <a class="navbar-brand " href="http://localhost:{{port}}/">MakaanTipTop</a>
  </div>
  <div class="Alt">
    <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item space">
            <a class="nav-item nav-link active"  href="http://localhost:{{port}}/dashboard">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item space">
            <a class="nav-item nav-link  " href="http://localhost:{{port}}/adopt_services">Services</a>
        </li>

        <li class="nav-item st">
            <a class="nav-item nav-link " href="#" style="color:#fea116"><i class="fas fa-store" style="margin-right:5px"></i>Store</a>
        </li>
      </ul>
    </div>
</div>



<div class="btn-group">
<div class="collapse navbar-collapse">
        <ul class="navbar-nav">
        <li class="nav-item ">
            <a href="#" class="dropdown dropdown-toggle"  data-toggle="dropdown">
            <span title="Badal Joshi"><img src="/images/face.png" class="img-fluid section1_image1"  alt="#"></span><span class="caret"></span></a>
            <ul class="dropdown-menu pull-left">
            <div class="square"></div>
              <li>
                <div class="user">

                  <a href="#" style="color:black"><i class="fas fa-user"></i><strong id = 'username' name='username'  ></strong></a>
                <hr />
                </div>
              </li>
              <li class="account" ><a href="#" style="color: #010414" >Profile</a></li>
              <li class="account"><a href="#" style="color: #010414" >Update Profile</a></li>
              <li class= "account"><a href="#" style="color:#e6514c" onclick="logout()">Sign Out</a></li>
            </ul>
        </li>
      </ul>
</div>
</div>
</nav>
<!-- Nav Bar End-->

<!-- Cards -->


<div class = "container">
  <h3>{{heading}}'s available</h3>
</div>

<div class="container">
{{#each workers as |worker|}}
  <form class = 'form-horizontal' id = "HIRE">
    <div class="form-group">
      <label for="role" class = "control-label col-sm-2">Role</label>
      <div class = 'col-sm-3'>
          <input type = "text" class = "form-control " id = 'worker_role' value = {{worker.role}} disabled>
        </div>
    </div>
    <div class="form-group">
      <label for="name" class = "control-label col-sm-2">Name</label>
      <div class = 'col-sm-3'>
          <input type = "text" class = "form-control " id = 'worker_name' value = {{worker.name}} disabled>
        </div>
    </div>
    <div class="form-group">
      <label for="email" class = "control-label col-sm-2">Email</label>
      <div class = 'col-sm-3'>
          <input type = "text" class = "form-control " id = 'worker_email' value = {{worker.email}} disabled>
        </div>
    </div>
    <div class="form-group">
      <label for="phone" class = "control-label col-sm-2">Phone</label>
      <div class = 'col-sm-3'>
          <input type = "text" class = "form-control " id = 'worker_phone' value = {{worker.phone}} disabled>
        </div>
    </div>
    <div class="form-group">
      <label for="location" class = "control-label col-sm-2">Location</label>
      <div class = 'col-sm-3'>
          <input type = "text" class = "form-control " id = 'worker_location' value = {{worker.location}} disabled>
        </div>
    </div>
    <div class="form-group">
      <label for="price" class = "control-label col-sm-2">Price</label>
      <div class = 'col-sm-3'>
          <input type = "text" class = "form-control " id = 'worker_price' value = {{worker.price}} disabled>
        </div>
    </div>
    <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_gM209Tda0yl0TV3KtCTGZLZu002hb3apW9"
          data-amount={{worker.price}}
          data-name="Service Payment Page"
          data-description="Please pay to proceed"
          data-image="/images/cash.png"
          data-locale="auto">
    </script>
    <script>
      // Hide default stripe button
      document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
    </script>
    <div class="form-group ">
      <input type="submit" class = 'btn btn-lg btn-success' value = 'Hire'>
    </div>
  </form>
    
  <hr>
  {{else}}
    <p class = 'm-5'>No services are available at the moment</p>
  {{/each}}
</div>
<script>
  $(document).ready(function(){
    if(!window.localStorage.user && !window.localStorage.token){
      alert("please login");
      window.location.href = `http://localhost:3000/login`;
    }
    else{
    
      let user = window.localStorage.getItem('user');
      user = JSON.parse(user);
      user = user.username;
      document.getElementById('username').textContent = user;
      $("#HIRE").submit(function(){
        event.preventDefault();
        let user = window.localStorage.getItem('user');
        user = JSON.parse(user);
        user = user.username;
        const worker_name = $("#worker_name").val();
        const worker_email = $("#worker_email").val();
        const worker_phone = $("#worker_phone").val();
        const worker_location = $("#worker_location").val();
        const worker_role = $("#worker_role").val();
        const worker_price = $("#worker_price").val();
        const body =JSON.stringify({user,worker_name,worker_email,worker_phone,worker_location,worker_role,worker_price})
        $.ajax({
          type: 'post',
          url: 'http://localhost:3000/adopt_services/charge',   
          data: body,
          xhrFields: {
              withCredentials: false
          },  
          headers: {
            "content-type": "application/json"
          }, 
          success: function (data) {
            window.location.href = `http://localhost:3000/dashboard`;
            alert("Thank You for using the service");

          },  
          error: function (response) {
              alert(response.responseJSON.msg);
          }
        })
      })
    }
  })

  

  function logout(){
  window.localStorage.clear()
  window.location.href = "http://localhost:{{port}}/login";
  }
  
</script>